{% extends 'card_index/base.html' %}

{% block page_content %}
    <h2>Данные персоны</h2>
    <div class="row ">
        <p><strong>ФИО:</strong> {{ person.full_name }}</p>
        <p><strong>Дата рождения:</strong> {{ person.date_of_birth }}</p>
        <p><strong>Пол:</strong> {{ person.get_gender_display }}</p>
        <p><strong>Номер мобильного телефона:</strong> {{ person.phone_number }}</p>
        <p><strong>Срок обучения с:</strong> {{ person.start_date }}</p>
        <p><strong>Срок обучения по:</strong> {{ person.end_date }}</p>
        <p><strong>Группа обучения:</strong> {{ person.training_group }}</p>
        <p><strong>Наименование учебного заведения:</strong> {{ person.educational_institution }}</p>

        <div style="margin-left: 20px;margin-top: 20px">
            {% if person.documents.exists %}
                <h2>Документы</h2>
                {% for document in person.documents.all %}
                    <p>{{ document }}</p>
                {% endfor %}
            {% else %}
                <h2>Документов нет</h2>
            {% endif %}
        </div>
    </div>
    <a href='{% url 'persons' %}' class="btn btn-default">Назад</a>
{% endblock %}
